
.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: var(--bg1);
    color: var(--txt-color);
    border: 1px solid snow;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}
