body {
  background-color: var(--bg1);
  overflow-x: hidden;
}

header {
  background-color: var(--bg2);
  color: aliceblue;
  padding: 0.3em;
}

header h1 {
  margin: 0;
}

input[type='text'],
input[type='number'] {
  line-height: 2em;
  background-color: var(--color1);
  border: 0;
}

button {
  color: whitesmoke;
  border: 0;
  border-radius: 0.2em;
  background-color: var(--btn-bg-color);
  padding: 6px 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  color: var(--txt-color);
  background-color: var(--bg3);
}

.muted {
  font-size: 0.9em;
  /* color: var(--muted-color); */
  color: var(--txt-color);
}

.smaller {
  font-size: 0.8em;
}

.add-or-update-location {
  background-color: var(--bg2);
  border: 3px solid var(--bg1);
  padding: clamp(1em, 2vw, 2em);
  max-width: clamp(300px, 90vw, 500px);
  width: 80%;
  max-height: clamp(300px, 80vh, 500px);
  overflow: auto;
  z-index: 100;
  box-shadow: 0 clamp(2px, 1vw, 4px) clamp(4px, 1vw, 8px) rgba(0, 0, 0, 0.2);
}

.add-or-update-location form {
  display: flex;
  flex-direction: column;
  padding: clamp(1em, 2vw, 1.5em) clamp(1em, 2vw, 2em);
  gap: clamp(0.5em, 1vw, 1em);
}

.add-or-update-location label {
  margin-bottom: clamp(0.5em, 1vw, 1em);
  font-size: clamp(0.9em, 1vw, 1.2em);
  color: var(--txt-color);
}

.add-or-update-location input[type='text'],
.add-or-update-location input[type='number'] {
  margin-bottom: clamp(0.5em, 1vw, 1em);
  padding: clamp(0.4em, 0.6vw, 0.7em);
  border: 1px solid var(--border-color);
  border-radius: clamp(0.2em, 0.3vw, 0.4em);
  font-size: clamp(0.9em, 1vw, 1.1em);
  color: var(--txt-color);
  background-color: var(--bg3); /* Add this variable if you have one */
}

.close {
  background: none;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: clamp(1em, 2vw, 1.2em);
  color: var(--txt-color);
  cursor: pointer;
}
