/* :root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
:root {
    --bg1: rgb(100, 130, 173);
    --bg2:rgb(127, 161, 195);
    --bg3: rgb(226, 218, 214);
    --header-color: aliceblue;
    
    --color2: rgb(94, 169, 240); 
    --input-color: #F5EDED;
    --marked-loc-color: #102C57;
    --stars-color: #FFCA03;
    --btn-bg-color:rgb(127, 161, 195);
    --txt-color:rgb(9, 38, 53);
}