/* :root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
:root {
    --bg1: rgb(204, 213, 174);
    --bg2: rgb(224, 229, 182);
    --bg3: rgb(250, 237, 206);
    --color1: aliceblue;
    
    --color2: rgb(94, 169, 240); 
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --muted-color:rgb(204, 213, 174);
    --btn-bg-color:rgb(204, 213, 174);
    --txt-color: #0b1215;
}